.article-list {
  @include mobile {
    width: 100% !important;
  }
}

.article {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 35px;
  padding-right: 35px;
  
  @include mobile {
		padding-top:22px !important;
		padding-bottom:22px !important;
		padding-left:18px !important;
		padding-right:18px !important;
  }
}

.article__image {
  @include mobile {
    width: 100% !important;
    height: auto !important;
  }
}