

.article {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  
  @include mobile {
		padding-top:22px !important;
		padding-bottom:22px !important;
  }
}

.article--padded {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 35px;
  padding-right: 35px;
  
  @include mobile {
		padding-top:22px !important;
		padding-bottom:22px !important;
		padding-left:18px !important;
		padding-right:18px !important;
  }
}

.article-list {
  @include mobile {
    width: 100% !important;
  }
}

.article__image {
  @include mobile {
    width: 100% !important;
    height: auto !important;
  }
}

.article-list--chronicle {
  
  tr + tr .article {
    border-top: 2px dotted #bababa;
  }
}