/* Footer */

.footer {
	background-color: #f2f2f2;
}

.footer__cell {
	color: #8B8B8B !important;
	font-family: Helvetica;
	font-size: 13px;
	line-height: 140%;
	padding-top: 10px;
	padding-right: 81px;
	padding-bottom: 5px;
	padding-left: 81px;
	text-align: center;
  
  a:link,
  a:visited,
  a .yshortcuts,
  .footerContent a span {
		color: #606060 !important;
		font-weight: normal;
		text-decoration: underline;
	}
  
  @include mobile {
  	padding-left:15px !important;
  	padding-right:15px !important;
  }
}