{% extends "layouts/orange.html" %}

{% block body %}

  <table border="0" cellpadding="0" cellspacing="0" width="100%">
  
    <tr>
      <td class="text padding" align="left" valign="top">
      
        Dear F_NAME,
        <br>
        <br>
        <h2>Happy Birthday from everyone at What on Earth?</h2>
        <br>
        As a member of the What on Earth? Book Club please find below your £5 birthday voucher to spend in the What on Earth? shop.    Simply go to www.whatonearthbooks.com/shop, choose what you want to buy and enter the code when you checkout.
        <br>
        <br>
        <br>
        {% include "components/coupon.html" %}
      
      <td>
    </tr>
    <tr>
      <td class="text padding" align="left" valign="top">
      
        Dear F_NAME,
        <br>
        <br>
        <h2>Happy Birthday from everyone at What on Earth?</h2>
        <br>
        As a member of the What on Earth? Book Club please find below your £5 birthday voucher to spend in the What on Earth? shop.    Simply go to www.whatonearthbooks.com/shop, choose what you want to buy and enter the code when you checkout.
      
      <td>
    </tr>
  
  </table>
                                
{% endblock %}