{% extends "layouts/orange.html" %}

{% block body %}

  <table border="0" cellpadding="0" cellspacing="0" width="100%">
  
    <tr>
      <td align="left" valign="top">
      
        {% include "components/hero.html" %}
      
      <td>
    </tr>
      <tr>
        <td align="left" valign="top">
        
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td class="text padding" mc:edit="Text">
                
                <h1>Cras mattis consectetur purus sit amet fermentum</h1>
                
                Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.
                <br>
                <br>
                <center><a class="button" href="http://www.whatonearthbooks.com">Button</a></center>
                
              <td>
            </tr>
          </table>
        
        </td>
      </tr>
  
  </table>
                                
{% endblock %}