// Colours

$colors: (
  purple: #87648C,
  blue: #33A4BC,
  green: #AEBD37,
  orange: #F07125,
  yellow: #FBAD18,
  darkrule: #DDE2E5,
  rule: lighten(#DDE2E5, 2%),
  text: #444,
  lighttext: #777,
  superlighttext: #999,
  darktext: #222,
  lightpurple: #8D87A2,
  darkblue: #3B5865,
  dullgreen: #A5C799,
  darkgreen: #759C67,
  red: #E85942,
  teal: #1FBECA,
  wash: #F1F3F4,
  lightwash: #F3F5F6
);

// Function to retrieve a color

@function color($ref) {
  @return map-get($colors, $ref);
}