<!-- Article list // -->
<table class="article-list" border="0" cellpadding="0" cellspacing="0" width="530">
  <tr mc:repeatable>
    <td align="center" valign="top" class="article">
      <img class="article__image" mc:edit="article_image" src="https://gallery.mailchimp.com/bd21308ff39e5915fdbb2be35/images/277ee3e0-1c9d-48a7-bcec-7c23b3cd324d.jpg" width="530" style="max-width: 530px; margin-bottom: 20px" mc:label="article_image" mc:allowdesigner="" mc:allowtext="">
      <div class="article__text text" mc:edit="article_text" width="100%">
        <h1>This is an article</h1>
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        <br>
        <br>
        <a href="http://www.whatonearthbooks.com/blog/">This is a link</a>
      </div>
    </td>
  </tr>
</table>