<!-- Footer with Address details -->
<table class="footer footer--chronicle" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top" class="footer__cell" style="padding-top:20px">
      &copy; *|CURRENT_YEAR|*, *|LIST:COMPANY|*
      <br>*|HTML:LIST_ADDRESS_HTML|* *|END:IF|* 
    </td>
  </tr>
  <tr>
    <td style="padding-top:10px; padding-right:20px; padding-bottom:10px; padding-left:20px; text-align:center;" valign="top">
      <a href="http://www.whatonearthbooks.com"><img class="logo__image" src="https://gallery.mailchimp.com/bd21308ff39e5915fdbb2be35/images/e91ad206-40c5-4da3-aeb2-28bb68e0d5f2.png" width="110" height="45" alt="" style="vertical-align:bottom"></a>
    </td>
  </tr>
  <tr>
    <td valign="top" class="footer__cell">
      <a href="*|UPDATE_PROFILE|*">Manage your subscription</a>
      &nbsp;&nbsp;<a href="*|UNSUB|*">Unsubscribe</a>
    </td>
  </tr>
  <tr>
    <td valign="top" class="footer__cell" style="padding-bottom:20px" mc:edit="footer_content00">
      <a href="*|TWITTER:PROFILEURL|*"><img src="http://i.imgur.com/aSbbI2q.png" alt="Follow us on Twitter" width="24px" height="24px"></a>&nbsp;&nbsp;&nbsp;<a href="*|FACEBOOK:PROFILEURL|*"><img src="http://i.imgur.com/K3j6uxV.png" alt="Like us on Facebook" width="24px" height="24px"></a>&nbsp;&nbsp;
      <a href=""><img src="http://i.imgur.com/AsZ4eja.png" alt="YouTube" width="24px" height="24px"></a>
    </td>
  </tr>
</table>