<!-- Footer -->
<table class="footer" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td class="footer__cell" valign="top" style="padding-bottom:20px">
      <a href="*|TWITTER:PROFILEURL|*"><img src="http://i.imgur.com/aSbbI2q.png" alt="Follow us on Twitter" width="24px" height="24px"></a>&nbsp;&nbsp;&nbsp;<a href="*|FACEBOOK:PROFILEURL|*"><img src="http://i.imgur.com/K3j6uxV.png" alt="Like us on Facebook" width="24px" height="24px"></a>&nbsp;&nbsp;
      <a href=""><img src="http://i.imgur.com/AsZ4eja.png" alt="YouTube" width="24px" height="24px"></a>
    </td>
  </tr>
</table>