<!-- Logo -->
{% if color == 'purple' %}
  {% set src = 'https://gallery.mailchimp.com/bd21308ff39e5915fdbb2be35/images/643cd877-7fe1-431e-98eb-52ebec1b2c17.png' %}
{% else %}
  {% set src = 'https://gallery.mailchimp.com/bd21308ff39e5915fdbb2be35/images/e91ad206-40c5-4da3-aeb2-28bb68e0d5f2.png' %}
{% endif %}
<table class="logo" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td class="logo__cell" style="padding-top:10px; padding-right:20px; padding-bottom:25px; padding-left:20px; text-align:center" valign="top">
      <a href="http://www.whatonearthbooks.com"><img class="logo__image" src="{{src}}" width="157" height="64" alt="" style="vertical-align:bottom"></a>
    </td>
  </tr>
</table>